#myheader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /*background-color: #ed645c;*/
    /*padding: 0 20px;*/
}

#myheader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#myheader li {
    display: inline-block;
    height: 50px;
    text-align: center;
    /*border: 1px solid white;*/
    /*padding: 0 20px;*/
}

#myheader a {
    display: inline-block;
    padding: 8px 20px;
    height: 50px;
    color: white;
}

#myheader li a {
    color: black;
}

#myheader li a:hover {
    background-color: #ffdfdf;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

#mylogo, #mynavleft, #mynavright {
    display: inline-block;
}

#mylogo {
    height: 52px;
    font-family: 'Dosis-Medium';
    src: url(../fonts/Dosis-Medium.ttf) format('truetype');
    font-size: 25px;
    margin-top: -2px;
    float: left;
    padding: 0 20px;
    background-color: #ed645c;
}

#mynavleft {
    float: left;
    line-height: 35px;
}

#mynavleft li {
    float: left;
    line-height: 35px;
    margin-left: -1px;
}

#mynavright {
    float: right;
    line-height: 35px;
}

#mynavright li {
    margin-left: -5px;
}

#spacing {
    width: 100%;
    height: 50px;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #ed645c;
}

#myslider {
    height: 50px;
}

#aboutp {
    text-align: justify;
}

#mybutton {
    text-align: center;
    border: none;
    background: #ed645c;
    padding: 10px 10px;
    color: white;
    margin: 0 auto;
    width: 150px;
    text-align: center;
}

#mybutton a {
    text-style: none;
    color: white;
}

#mybutton:hover {
background: black;
}

label {
    font-size: 18px;
    padding-bottom: 5px;
}

#labdiv{
    padding-top:25px;
}

.form-control {
    height: 50px;
    font-size: 16px;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid black;
}

select:invalid {
    border: 1px solid red;
    color: darkgray;
}

select:valid {
    border: 1px solid black;
}

.panel{
    padding-top: 0px;
}

.panel-default > .panel-heading-custom {
    height: 50px;
    font-size: 16px;
    background: #ed645c;
    color: #fff;
    margin-top: -20px;
}

#mypaneltitle {
    margin-top: 5px;
}

#myContainer input {
    /*style="width: 100px; display: inline-block; margin-left: 10px"*/
    width: 100px;
}

#banner-info-mine h3 {
    color: white;
}

#banner-info-mine p {
    color: white;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.tab li {
    float: left;
    background-color: #ed645c;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}