#aboutp {
    text-align: justify;
}

#signupbutton {
    text-align: center;
    border: none;
    background: #ed645c;
    padding: 10px 10px;
    color: white;
    margin: 0 auto;
    width: 150px;
    text-align: center;
}

#signupbutton a {
text-style: none;
color: white;
}

#signupbutton:hover {
background: black;
}

label {
    font-size: 18px;
    padding-bottom: 5px;
}

.form-control {
    height: 50px;
    font-size: 16px;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid black;
}
